@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&family=Rubik:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8d0801;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    position: fixed;
    bottom: 0em;
    width: 100%;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.navlinks {
    display: flex;
    justify-content: space-around;
}

.navlinks li {
    display: inline-block;
    list-style-type: none;
}

.navlinks a {
    flex-direction: row;
    color: #8d0801;
    text-decoration: none;
    padding: 0 1em;
    margin: 0 1em;
    letter-spacing: .07em;
}

.navlinks a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: currentColor;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navlinks a:hover:after {
    width: 100%;
    left: 0;
}

.bodytext {
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.head {
    padding: 0.5em .3em 0;
    margin: 0.5em 0;
    font-size: 675%;
    font-weight: 500;
    color: #ffffff;
}

.subhead {
    padding: 0.5em .5em;
    margin: 0.5em 0;
    font-size: 300%;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #8d0801;
    }
    .head {
        font-size: 600%;
    }
    .subhead {
        font-size: 220%;
        padding: 1em;
    }
    .navlinks li {
        padding: 0;
        margin: -.5em;
    }
}

@media only screen and (max-aspect-ratio: 16/9) {
    body {
        background-color: #8d0801;
    }
    .head {
        font-size: 600%;
        padding: 0.2em auto;
    }
    .subhead {
        font-size: 220%;
        padding: 1.5em;
    }
    .navlinks li {
        padding: 0;
        margin: -.5em;
    }
}