@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&family=Rubik:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8D0801;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.nav-links {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.nav-links a {
    flex-direction: row;
    color: #8D0801;
    text-decoration: none;
    padding: 0 1em;
    margin: 0 1em;
    letter-spacing: .07em;
}

.body-text {
    position: relative;
    text-align: center;
    padding: 2em;
}

.head {
    font-size: 700%;
    padding: 10vh 4vh 8vh 4vh;
    margin: 3vh;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.subhead {
    font-size: 250%;
    font-weight: 300;
    padding: 2vh auto 4vh auto;
    margin: 2vh auto 4vh auto;
    font-family: "Nunito", sans-serif;
    color: white;
}

.buttons {
    padding: 6vh auto 2ch auto;
    margin: 4vh auto;
    text-align: center;
}

@media screen and (max-width:768px) {
    .head {
        padding: 2vh auto;
        margin: 2vh auto;
        font-size: 550%;
    }
    .subhead {
        font-size: 200%;
        padding: 3vh auto;
        margin: 3vh auto;
    }
    .nav-links a {
        padding: 0 1em;
        margin: 0 .5em;
    }
    .buttons {
        padding: 2vh auto;
        margin: 2vh auto;
    }
}