@import 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&family=Rubik:wght@400;500&display=swap';
* {
    margin: 0;
    padding: 0;
    cursor: none
}

.cursor__inner {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%
}

.cursor__inner--dot {
    width: 6px;
    height: 6px;
    background: #fff
}

.cursor__inner--circle {
    width: 20px;
    height: 20px;
    border: 1px solid #fff
}

body {
    background-color: #8d0801;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
}

.navlinks {
    display: flex;
    justify-content: space-around;
}

.navlinks li {
    display: inline-block;
    list-style-type: none;
}

.navlinks a {
    flex-direction: row;
    color: #8d0801;
    text-decoration: none;
    padding: 0 1em;
    margin: 0 1em;
    letter-spacing: .07em
}

.overflow {
    margin: 2em;
    padding: 2em;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.custombrand {
    filter: #fff;
    position: fixed;
    justify-content: right;
    top: 0;
    right: 0;
    padding: 2em;
    margin: 2em;
    scale: 0.9;
}

.sidebar-navigation {
    flex-direction: column;
}

.sidebar-title {
    bottom: 0;
    padding: 0em;
    margin: -.6em;
    margin-bottom: 13em;
    position: absolute;
    writing-mode: sideways-rl;
    transform: rotate(180deg);
    letter-spacing: .07em;
    font-weight: 500;
}

.sidebar-line {
    margin-bottom: 9em;
    padding: 0;
    position: fixed;
    bottom: 0em;
    z-index: 10;
    width: 2px;
    height: 50px;
    background-color: #fff;
}

.bodytext {
    font-family: rubik, sans-serif;
    text-align: center;
}

.head {
    padding: .5em .3em 0;
    margin: .5em 0;
    font-size: 675%;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 5px #913636
}

.subhead {
    padding: .5em;
    margin: .5em 0;
    font-size: 300%;
    color: #fff;
    text-shadow: 2px 2px 5px #913636
}

@media only screen and (max-width:600px) {
    body {
        background-color: #8d0801
    }
    .cursor {
        visibility: hidden
    }
    .head {
        font-size: 600%
    }
    .subhead {
        font-size: 220%;
        padding: 1em
    }
    .navlinks li {
        padding: 0;
        margin: -.5em
    }
    .navlinks a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: currentColor;
        transition: width .3s ease 0s, left .3s ease 0s;
        width: 0
    }
    .navlinks a:hover:after {
        width: 100%;
        left: 0
    }
}

@media only screen and (bmax-aspect-ratio:16/9) {
    body {
        background-color: #8d0801
    }
    .cursor {
        visibility: hidden
    }
    .head {
        font-size: 600%;
        padding: .2em auto
    }
    .subhead {
        font-size: 220%;
        padding: 1.5em
    }
    .navlinks li {
        padding: 0;
        margin: -.5em
    }
    .navlinks a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: currentColor;
        transition: width .3s ease 0s, left .3s ease 0s;
        width: 0
    }
    .navlinks a:hover:after {
        width: 100%;
        left: 0
    }
}