@import 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&family=Rubik:wght@400;500&display=swap';
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #FFBE0B;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    color: #001427;
    font-size: 2.5em;
    padding: 20vh 0;
    padding-right: 5em;
    margin: 0 .6em;
    position: fixed;
    z-index: -1;
}

.container {
    text-align: center;
}

.signature {
    transform: scale(0.7);
    position: absolute;
    margin-top: 1em;
    right: 0;
    z-index: 5;
}

.sidebar-navigation {
    visibility: hidden;
}

header {
    display: flex;
    justify-content: space-between;
}

.forpc {
    display: none;
}

.menu {
    margin-top: 1.5em;
    margin-left: 1.5em;
    position: absolute;
    z-index: 5;
    transform: scale(1.3);
}

.footer {
    text-align: right;
    font-family: 'Rubik', sans-serif;
    color: #001427;
    right: 0;
    font-size: 2.5em;
    padding: 63vh 0;
    padding-right: 5em;
    margin: 0 .7em;
    position: fixed;
    z-index: -1;
}

#parallax-overflow {
    margin: 55vh 0;
    padding: 0em 0;
    height: 690px;
    background-color: #fff;
}

.subtitle {
    font-family: 'Nunito', sans-serif;
    color: #001427;
    font-size: 1.5em;
    line-height: 1.8em;
    margin: 0 1em;
    padding: 1em 0;
}

.image1 {
    transform: scale(1);
    transform-origin: top;
    display: flex;
    z-index: 1;
}

.body-text {
    font-family: 'Nunito', sans-serif;
    color: #001427;
    font-size: 1em;
    margin: 1em 1em;
    padding: 1em 0.5em;
    background: #fff;
    line-height: 1.6em;
}

#email {
    display: flex;
    padding-left: 1em;
}

.mail-to {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
}

.say-hello {
    color: #001427;
    padding: 0 .5em;
}

.mail,
.arrow {
    transform: scale(.5);
    padding-right: 0 1em;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    left: 0;
    text-align: left;
    background: #001427;
    height: 100%;
    z-index: 5;
    padding-top: 3em;
}

nav ul li a {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
}

nav ul li a:hover {
    color: #FFBE0B;
}

.exit-button {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: left;
    padding: 1em 2em;
}

.exit-button img {
    transform: scale(1.5);
    cursor: pointer;
}

@media only screen and (min-width: 570px) {
    .title {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: #001427;
        font-size: 500%;
        padding: 20vh 0;
        position: fixed;
        z-index: -1;
    }
}