@import 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&family=Rubik:wght@400;500&display=swap';
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
    background: #FFBE0B;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.desktop-nav {
    display: none;
}

.sidebar-navigation {
    display: none;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    color: #001427;
    font-size: 2.5em;
    padding: 20vh 0;
    padding-right: 5em;
    margin: 0 .6em;
    position: fixed;
    z-index: -1;
}

.signature {
    transform: scale(0.7);
    position: absolute;
    margin-top: 1em;
    right: 0;
    z-index: 5;
}

header {
    display: flex;
    justify-content: space-between;
}

.forpc {
    display: none;
}

.exit-button {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: left;
    padding: 1em 2em;
    z-index: 5;
}

.exit-button img {
    transform: scale(1.5);
    cursor: pointer;
    z-index: 5;
}

.footer {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    color: #001427;
    font-size: 2.5em;
    padding: 63vh 0;
    padding-right: 5em;
    margin: 0 .6em;
    position: fixed;
    z-index: -1;
}

#parallax-overflow {
    margin: 55vh 0;
    padding: 0em 0;
    height: 690px;
    background-color: #fff;
}

.subtitle {
    font-family: 'Nunito', sans-serif;
    color: #001427;
    font-size: 1.5em;
    line-height: 1.8em;
    margin: 0 1em;
    padding: 1em 0;
}

.image2 img {
    width: 100%;
    height: auto;
    z-index: 1;
}

.body-text {
    font-family: 'Nunito', sans-serif;
    color: #001427;
    font-size: 1em;
    margin: 1em 1em;
    padding: 1em 0.5em;
    background: #fff;
    line-height: 1.6em;
}

#email {
    display: flex;
    padding-left: 1em;
}

.mail-to {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
}

.say-hello {
    color: #001427;
    padding: 0 .5em;
}

.mail,
.arrow {
    transform: scale(.5);
    padding-right: 0 1em;
}

.container {
    margin-top: 0px;
    Display: flex;
    align-items: center;
    z-index: 10;
    position: absolute;
}

.content {
    z-index: 10;
    width: 100%;
    height: 100%;
}

nav {
    background-color: none;
    height: 100vh;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
}

#menuToggle span {
    display: flex;
    width: 30px;
    margin: 4px 0;
    height: 3px;
    stroke-linecap: round;
    position: relative;
    background: #001427;
    z-index: 5;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 2px);
    background: #fff;
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-5px, 15px);
}

#menus {
    position: absolute;
    width: 200px;
    height: 100vh;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 150px;
    background-color: #001427;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menus li {
    margin: 0;
    padding: 0 0 3em .5em;
}

#menus a {
    text-decoration: none;
    color: #fff;
    opacity: 1;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    transition: 200ms;
}

#menuToggle input:checked~ul {
    transform: none;
}

@media only screen and (min-width: 570px) {
    .title {
        margin: 30vh 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        position: fixed;
        font-size: 650%;
        font-weight: 500;
        z-index: -1;
        text-shadow: 1px 1px 5px #00142796;
    }
    .desktop-nav {
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 10vh;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        font-family: nunito, sans-serif;
    }
    .container {
        display: none;
    }
    .navlinks {
        display: flex;
        justify-content: space-around;
    }
    .navlinks li {
        display: inline-block;
        list-style-type: none
    }
    .navlinks a {
        flex-direction: row;
        color: #001427;
        text-decoration: none;
        padding: 0 1em;
        margin: 0 1em;
        letter-spacing: .07em
    }
    .navlinks a:hover {
        color: #ffbe0b;
    }
    #navs {
        position: fixed;
        z-index: 5;
    }
    .menu {
        display: none;
    }
    .signature {
        padding-right: 3em;
        padding-top: 1em;
        transform: scale(1);
        position: fixed;
    }
    .sidebar-navigation {
        display: flex;
        flex-direction: row;
    }
    .sidebar-line {
        margin-bottom: 8em;
        margin-left: 4em;
        padding: 0em;
        position: fixed;
        bottom: 0em;
        z-index: 10;
        width: 2px;
        height: 60px;
        background-color: #001427;
    }
    .sidebar-title {
        display: inline-block;
        z-index: 10;
        bottom: 0;
        padding: 0em;
        margin-left: 2.4em;
        margin-bottom: 13.5em;
        position: fixed;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        letter-spacing: .07em;
        font-weight: 500;
        color: #001427;
    }
    .footer {
        display: none;
    }
    #parallax-overflow {
        margin: 100vh 0;
        height: 100vh;
        background-color: #fff;
    }
    .subtitle {
        font-size: 2em;
        margin-top: 3em;
        padding-top: 2em;
        line-height: 2em;
        text-align: center;
    }
    .image2 {
        display: none;
    }
    .body-text {
        font-size: 2em;
        margin: 1em 2em 0;
        padding: 1em 1em 0;
        text-align: center;
    }
    #email {
        justify-content: center;
        text-align: center;
        background: #fff;
        padding: 5em;
    }
    .say-hello {
        font-size: 2em;
        padding: 0 1em;
    }
    .mail,
    .arrow {
        transform: scale(.8);
    }
}